.table th {
  background-color: #f8f9fa;
}

.text-end {
  text-align: right;
}

.table-responsive {
  max-height: 500px;
  overflow-y: auto;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
    margin: 0;
    align-items: center;
}
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table td, .table th {
  vertical-align: middle;
}
